
<p id="notice"><%= notice %></p>

<body>
<!-- Jumbotron -->  
<div class="jumbotron">

</div>
<!-- Navigation -->
<div id="nav">
  <b><%= link_to 'Products' ,Product%></b> <br/>
<%= link_to 'Order_Details' ,Orderdetail%></b>
</div>
<!-- Section -->
<div id="section">
</div>
</body>



  


